.leaflet-container {
  width: 300px;
  height: 100%;
}

.claseUno {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 28%;
  margin-top: 10vh;
  margin-left: 9vw;
  font-family: "Roboto";
}

.coordenadas {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 10%;
  margin-top: 5vh;
  width: 100%;
  font-family: "Roboto";
}

div.map.leaflet-container.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag {
  height: 45%;
  width: 85%;
  margin-right: 7vw;
  margin-left: 45vw;
}

.dive {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
